#canvas {
    background-color: black;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px;
}

#playbutton{
    margin: auto;
    display: inline-block;
    height: 40px;
    width: 80px;
    background-color: green;
    color: red;
    font-weight: bolder;
    font-size: 27px;
  }
#restartbutton{
  margin: auto;
  display: inline-block;
  height: 40px;
  width: 110px;
  background-color: green;
  color: red;
  font-weight: bolder;
  font-size: 27px;
}

#nextbutton{
  margin: auto;
  display: inline-block;
  height: 40px;
  width: 110px;
  background-color: green;
  color: red;
  font-weight: bolder;
  font-size: 27px;
}

#mutebutton{
  margin: auto;
  display: inline-block;
  height: 40px;
  width: 110px;
  background-color: green;
  color: red;
  font-weight: bolder;
  font-size: 27px;
}

  #score{
    margin: auto;
    display: inline-block;
    align-items: left;
    height: 40px;
    font-size: 27px;
    color: red;
  }

  #score-text{
    margin: auto;
    display: inline-block;
    align-items: left;
    height: 40px;
    width: 80px;
    font-size: 27px;
    color: rgb(50, 200, 255);
  }

  #round{
    margin: auto;
    display: inline-block;
    align-items: right;
    text-align: right;
    height: 40px;
    font-size: 27px;
    color: red;
  }

  #round-text{
    margin: auto;
    margin-right: 10px;
    display: inline-block;
    height: 40px;
    font-size: 27px;
    color: rgb(50, 200, 255);
  }

  .stats{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 450px;
  }


